* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    background: lightblue;
    /*background: url(img/formback.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #000000;
  }

/* top section of page (navigation) */

  #header {
    height: 100px;
    width: 80%;
    position: absolute;
    margin-top: 15px;
    margin-left: 12%;
    margin-right: 10%;
     
  }

  #menu {
    position: absolute;
    width: 100%;
    float: right;
  
  }
  
  #menu ul {
    display: inline-block;
    align-items: center;
  }
  
  #menu li {
    display: block;
    float: left;
    text-align: center;
    line-height: 60px;
  }
  
  #menu li a, #menu li  {
    display: inline-block;
    margin-left: 1px;
    padding: 0em 1.4em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1.1vw;
    text-transform: uppercase;
    outline: 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  #menu li.current_page_item a {
    border: #000000;
    border-style: solid;
    border-width: 0.5px;
    text-decoration: none;
  }

  a:hover {
  border: #000000;
	border-style: solid;
	border-width: 0.5px;
  
  }


/* popup tasks */
  
 
.callout {

   position: absolute;
   bottom: 35px;
   right: 30px;
   margin-left: 20px;
       
    }
      
.callout-header {

   padding: 25px 25px;
   padding-right: 20px;
   background: rgba(240, 240, 240, 0.327);
   font-size: 1.3vw;
   color: rgb(0, 0, 0);

      }
      
  .callout-container {

    padding-top: 10px;
    padding-left :35px;
    padding-right :35px;
    padding-bottom :35px;
    background-color:rgba(240, 240, 240, 0.327);
    color:rgb(54, 54, 54);

      }
      
  .closebtn {

    position: absolute;
    top: 5px;
    right: 15px;
    color: rgb(73, 73, 73);
    font-size: 30px;
    cursor: pointer;

      }
      
  .closebtn:hover {

    color: rgb(141, 140, 140);

      }

  .callout-container ul {

    list-style: none; 

      }
      
  .callout-container ul li::before {

    content: "\2022";  
    color: rgb(61, 61, 61); 
    size: 5px;
    font-weight: bolder;; 
    display: inline-block; 
    width: 1.1em; 
    margin-left: -1em; 

      }
  .done {

    color: rgb(65, 64, 64);
    text-decoration: line-through;

      }


/* greeting */

  .greeting {
        
    position: absolute;
    top: 20%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 55px;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    font-size: 1.3vw;

     }   

/* account balance */


  .fundscontainer {

    background-color:rgba(240, 240, 240, 0.327);
    position: absolute;
    top: 35%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 55px;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    font-size: 1.3vw;

      }

  #accname {

    float:left;

      }

  #money {

    float: right;
    padding-left: 20%;

      }

/* transaction history */

  #more {

    display: none;
    position: absolute;
    top:118%;
    right: 45%;
    left: 30%;
    padding: 20px;

    }

  #myBtn {

    background-color: transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    font-size: 1vw;
    border: #000000;
    border-style: solid;
    border-width: 0.5px;
    position: absolute;
    top:120%;
    right: 83%;

      }

/* responsive styling */


      @media only screen and (max-width: 500px) {
        
        #header {
          height: 100px;
          width: 95%;
          position: absolute;
          margin-left: 5%;
          margin-right: 5%;
           
        }
      
        #menu li a, #menu li  {
          
          padding: 0em 0.8em;
          font-size: 0.5vw;
      
        }
      
        p {
      
          display: block;
          font-size: 3vw;
          
          
          }
      
          h2{
            font-size: 3vw;
          }
        
          input {
            font-size: 3vw;
      
          }

          #myBtn { 
              right: 60%;
          }

          #more {
           
            padding-top: 1%;
            margin-left: 10%;
          }
      
          
      }

     